
 .paragraph_background {
     background-image: linear-gradient(to right, rgba(72,148,215, .5) 0%, rgba(0,29,150, .6) 50%, transparent 100%);
     opacity: .7;
     border-radius: 1rem;
 }

 .about-page {
   background-image: url(../../images/jpg/propeller.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
   width: 100vw;
 }




 