
 .paragraph_background {
     opacity: .7;
     border-radius: 1rem;
     width: 80%;
 }

 .about-page {
   background-image: url(../../images/jpg/landings/landing03.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
   width: 100vw;
 }




 