.gallery_img {
  width: 80%;
  margin: 0 auto;
  display: block;
  height: auto;
  transition: 0.4s ease;
}

.gallery_text {
  color: #01012b;
  font-weight: 700;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.gallery_img:hover {
  opacity: 0.4;
}

.gallery_text:hover .gallery_img {
  opacity: 0.4;
}


@media (min-width: 320px){
  .gallery_img {
    width: 100%;
    height: 17rem;
  }
}

@media (min-width: 540px){
  .gallery_img {
    width: 90%;
    height: 22rem;
  }
}

@media (min-width: 768px){
  .gallery_img {
    width: 80%;
    height: 28rem;
  }
}

@media (min-width: 992px){
  .gallery_img {
    width: 70%;
    height: 30rem;
  }
}
