.contact_container {
    height: 600px;
    display: flex;
}

.google_map{
   width: 40%;
   position: absolute;
   top: 10px;
   right: 50px;
}

.google_map iframe{
  width: 30rem;
  height: 25rem;
  border: 0
}

.facebook_icon {
    width: 15px;
    height: 15px;
}

.instagram_icon{
    width: 18px;
    height: 18px;
    background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  border-radius: 5px;
}

.contact_hover{
    background-image: linear-gradient(to right, #539de2, #3737a0);
    color: white;
    transition: all .5s;
    width: 20rem;
    cursor: pointer;
}

.contact_hover:hover{
    background-image: linear-gradient(to right, #74afe6, #1f1f9e);
}

@media (min-width: 320px){
    .google_map {
        width: 100%;
        top: 19rem;
        left: 0;
    }
    .google_map iframe {
        width: 90%;
        height: 15rem;
    }
    
}

@media (min-width: 360px){
    .contact_hover {
        margin: 0 auto;
    }
}

@media (min-width: 992px){
    .google_map {
        width: 60%;
        top: 0;
        left: 24rem;
    }
    .google_map iframe {
        height: 18rem;
    }
    .contact_hover {
        margin-left: 0;
    }
}

