.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.slideshow li {
  list-style: none;
  width: 100%;
  height: 121%;
  position: absolute;
  top: 18px;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  opacity: 0;
  z-index: -1;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url("../../images/jpg/landings/landing01.jpeg");
}
.slideshow li:nth-child(2) {
  background-image: url("../../images/jpg/landings/landing02.jpg");
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url("../../images/jpg/landings/landing03.jpg");
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url("../../images/jpg/landings/landing04.jpeg");
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url("../../images/jpg/landings/landing05.jpg");
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

.runways {
  margin-top: 10rem;
  margin-left: 5rem;
  display: block;
}

.runways button {
  background-color: rgba(246,185,6, .9);
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.runways button:hover {
  background-color:#e4aa04;
  color: #fff;
}

.usefulLinks {
  margin-top: 0.5rem;
  margin-left: 5rem;
  display: block;
}

.notami {
  margin-top: 0.5rem;
  margin-left: 5rem;
  display: block;
}

.notami button {
  background-color: rgba(246,185,6, .9);
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.notami button:hover {
  background-color:#e4aa04;
  color: #fff;
}

.usefulLinks button {
  background-color: rgba(246,185,6, .9);
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.usefulLinks button:hover {
  background-color:#e4aa04;
  color: #fff;
}

.list_content {
  z-index: 200000;
}

.btns {
  width: 18.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .weather {
  background-color: rgb(36, 161, 161);
} */

@media (min-width: 320px){
  .runways {
    margin-top: 6rem;
    margin-left: .7rem;
  }
  .usefulLinks {
    margin-left: .7rem;
  }
  .notami {
    margin-left: .7rem;
  }
  .weather {
    margin-top: 6rem;
  }
}

@media (min-width: 360px){
  .runways {
    margin-left: 2.2rem;
  }
  .usefulLinks {
    margin-left: 2.2rem;
  }
  .notami {
    margin-left: 2.2rem;
  }
}

@media (min-width: 411px){
  .runways {
    margin-left: 3.5rem;
  }
  .usefulLinks {
    margin-left: 3.5rem;
  }
  .notami {
    margin-left: 3.5rem;
  }
}

@media (min-width: 768px){
  .windTb {
    margin-left: 4.5rem;
  }
  .windBt {
      margin-left: 6.3rem;
  }
  .windKt {
      margin-left: 4.6rem;
  }
  .windMe {
      margin-left: 6.3rem;
  }
  .windAm {
      margin-left: 1.85rem;
  }
  .windTe {
      margin-left: 4.9rem;
  }
}

@media (min-width: 992px){
  .weather {
    margin-top: 0;
  }
}




