.background {
  text-transform: uppercase;
  background-color: #f6b906;
  font-size: 13px;
}

.logo {
  border-radius: 50%;
}
.link_color {
  color: #fff !important;
  transition: 0.3s;
}

.link_color:focus {
  color: rgba(255, 255, 255, 0.5) !important;
}

.link_color:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}

.geo_font {
  font-family: "BPG Nino Mtavruli";
  letter-spacing: 1.5px;
  margin-top: 0.7rem;
}

.eng_rus_font {
  font-weight: 500;
  letter-spacing: 1.5px;
}

.language {
  margin-top: 5px;
  width: 50px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f6b906;
  border: none;
}

.social_icons {
  color: #fff;
  transition: 0.3s;
}

.social_icons:hover {
  color: #f69100;
}

.option {
  cursor: pointer;
  color: #fff;
  border: 1px solid #f6b906;
  text-align: center;
}

.search {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: inherit;
  border-radius: 10rem;
  padding: 0.3rem 2rem;
  width: 70%;
  transition: all 0.3s;
  margin-right: -3.25rem;
}

.search__input:focus {
  outline: none;
  width: 80%;
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
}

@media (min-width: 320px) {
  .socials {
    width: 3.5rem;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .search {
    flex: 0 0 22%;
    margin-right: -2rem;
    margin-top: 0.5rem;
  }
  .geo_font {
    font-family: "BPG Nino Mtavruli";
    margin-top: 0.7rem;
    letter-spacing: 0;
  }
  .eng_rus_font {
    font-weight: 100;
    letter-spacing: 0;
  }
}

@media (min-width: 1200px) {
  .search {
    flex: 0 0 25%;
    margin-right: -2rem;
    margin-top: 0.5rem;
  }
  .nav_links {
    margin-left: 5rem;
  }
  .geo_font {
    letter-spacing: 1.5px;
  }
  .eng_rus_font {
    font-weight: 500;
    letter-spacing: 1.5px;
  }
}


