.project_container {
  width: 100%;
  height: auto;
  margin-bottom: -1rem;
  background-color: #fff;
}

.project_title {
  text-align: center;
  text-transform: uppercase;
}

.project_content_title {
  margin: auto;
  background-color: #ffd571;
  width: 70%;
  height: auto;
  color: #333;
}

.project_content_header {
  background-color: rgba(246,185,6, .65);
}

.active_color{
  background-color:  #a8b1b2;
}


@media (min-width: 320px){
  .prj-image {
     width: 15rem;
     height: 15rem;
     margin-left: 0;
  }
  .project_content_title {
    width: 90%;
  }
  .project-name {
     text-align: center;
  }
  .project-text {
    text-align: center;
  }
}

@media(min-width: 360px){
  .prj-image {
    margin-left: 1.5rem;
  }
}

@media(min-width: 411px){
  .prj-image {
    margin-left: 2.5rem;
  }
}

@media(min-width: 540px){
  .prj-image {
    margin-left: 6.5rem;
  }
}

@media(min-width: 768px){
  .project-img-text {
    display: flex;
  }
  .prj-image {
    margin-left: 0;
  }
  .project_content_title {
    width: 95%;
  }
  .project-text {
    text-align: justify;
  }
}

@media (min-width: 1200px){
  .project-img-text {
    display: flex;
  }
  .project_content_title {
    width: 70%;
  }
  .project-name {
    text-align: left;
  }
}

