.project_container {
  width: 100%;
  height: auto;
  margin-bottom: -1rem;
  /* background-image: url(../../images/jpg/landings/landing03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #fff1d0;
}

.project_title {
  text-align: center;
  text-transform: uppercase;
  /* color: #22366e; */
}

.project_content_title {
  margin: auto;
  background-color: #ffd571;
  /* background-color: rgba(246,185,6, .7); */
  width: 70%;
  height: auto;
  color: #333;
}

.project_content_header {
  /* background-color:#f6b906; */
  background-color: rgba(246,185,6, .65);
}

.active_color{
  background-color: #f6b906;
}


@media (min-width: 320px){
  .prj-image {
     width: 15rem;
     height: 15rem;
     margin-left: 1rem;
  }
  .project_content_title {
    width: 90%;
  }
  .project-name {
     text-align: center;
  }
  .project-text {
    text-align: center;
  }
}

@media(min-width: 768px){
  .project-img-text {
    display: flex;
  }
  .project_content_title {
    width: 95%;
  }
  .project-text {
    text-align: justify;
  }
}

@media (min-width: 1200px){
  .project-img-text {
    display: flex;
  }
  .project_content_title {
    width: 70%;
  }
  .project-name {
    text-align: left;
  }
}

