.footer-dark {
  padding: 30px 0;
  color: #f0f9ff;
  background-color: #a8b1b2;
  box-shadow: 0px -2px 15px 0px rgba(0,0,0, .15);
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.75rem;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin: .5rem auto;
  color:#333;
}

.footer-dark ul a {
  color:#333;
  transition: .3s;
}

.footer-dark ul a:hover {
  color: #fff;
}

.footer-dark .copyright {
  padding-top: 24px;
  font-size: 13px;
  margin-bottom: 0;
  color: #333;
}

.about {
  font-size: .9rem;
  color:#333;
  text-align: justify;
}

.footer_socials {
  color: #333;
  transition: .3s;

}

.footer_socials:hover{
  color: #fff;
}

.heading-secondary {
  margin-left: .5rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-color: #333;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 500;
}

.aeroclub-name {
  font-family: "BPG Nino Mtavruli";
  color: #333;
  font-weight: bold;
}

.header-socials {
  display: flex;
  position: absolute;

}

.footer-socials-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 10rem;
  top: 4.2rem;
}

.navigation-container{
  margin: 1rem auto;
  width: 80%;
  border-top: 1px solid #c4cacb;
}

.navigation-container ul {
  display: flex;
}

@media(min-width: 320px){
  .header-socials {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .footer-socials-container {
    left: 2rem;
    top: 2.2rem;
  }
  .heading-secondary{
    margin-left: 4rem;
  }
  .aeroclub-name{
    margin-left: 4.5rem;
  }
  .navigation-container{
    margin: 13rem auto;
    width: 100%;
  }
  .navigation-container ul {
    justify-content: space-between;
    height: 4rem;
    flex-direction: column;
  }
  .about {
    margin-left: 0;
  }
}

@media(min-width: 360px){
   .footer-socials-container {
    left: 3.5rem;
  }
  .heading-secondary{
    margin-left: 0;
  }
  .aeroclub-name{
    margin-left: .5rem;
  }
}

@media(min-width: 768px){
  .header-socials {
    top: 7%;
  }
  .footer-socials-container {
    top: 4.6rem;
  }

  .navigation-container{
    margin: 2rem auto;
  }

  .navigation-container ul {
    height: 2rem;
    flex-direction: inherit;
  }
  .about {
    margin-left: 0;
  }
}

@media(min-width: 998px){
  .footer-socials-container {
    left: 9.5rem;
  }
  .navigation-container{
    width: 90%;
  }
}

@media(min-width: 1200px){
  .footer-socials-container{
    left: 15rem;
  }
  .header-socials {
    left: 21rem;
  }
}