

.footer-dark {
  padding: 30px 0;
  color: #f0f9ff;
  background-color: #f6b906;
  box-shadow: 0px -2px 15px 0px rgba(0,0,0, .15);
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  font-size: 1.75rem;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 1rem;
  color:#333;
}

.footer-dark ul a {
  color:#333;
  transition: .3s;
}

.footer-dark ul a:hover {
  color: #fff;
}

.footer-dark .copyright {
  padding-top: 24px;
  /* opacity: 0.3; */
  font-size: 13px;
  margin-bottom: 0;
  color: #333;
}

.about {
  font-size: .9rem;
  color:#333;
}

.footer_socials {
  color: #333;
  transition: .3s;
}

.footer_socials:hover{
  color: #fff;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-size: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #333, #333);
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 500;
  
}


